.board{display:table;border-spacing:0;background-color:#EEE;margin:2rem auto;padding:2rem;user-select:none;height:300px;width:850px;transition:all .5s ease-out;box-shadow:6px 5px 6px #667}.board .board-row{white-space:nowrap;margin-bottom:0.5rem}.board .game{margin-right:0.5rem;display:inline-block;transform-style:preserve-3d;transition:all .5s ease-out;cursor:pointer;background:-moz-linear-gradient(top, #fff, #DDD);background:-webkit-gradient(linear, 0 0, 0% 100%, from(#fff), to(#EEE))}div.error{height:10em;posiiton:relative}div.error h1{margin:0;position:absolute;top:50%;left:50%;margin:0 -50% 0 0;transform:translate(-50%, -50%)}

/*# sourceMappingURL=index.css.map */