header {
    display: none;
}
.puzzle {
    padding-top: 30px;
}
.board-puzzle {
    margin: 0px 50px 0px 20px;
    float: left;
    position: relative;
    cursor:pointer;
    width:330px;
    height:330px;
    background: gray;
    user-select: none;
}
.board-puzzle .cell {
    text-align: center;
    transition: margin 0.3s;
    width:80px;
    height:80px;
    position: absolute;
    box-sizing: border-box;
    background-color: #ccc;
    background-repeat: no-repeat;
}
.board-puzzle .cell span {
    display: block;
    width:100%;
    height:100%;
    text-align: center;
    color:black;
    font-size:55px;
    line-height:80px;
    text-transform:uppercase;
}
.board-puzzle.image-on .cell span {
    display: none;
}
.timer {
    display: inline-block;
    background: #FFF;
    color: #666;
    padding: 5px 14px;
    margin: 0 20px 20px 0;
    white-space: nowrap;
    border: 4px solid #666;
    border-radius: 6px;
}
.highscore {
    user-select: initial;
    /*display: none;*/
    width: 240px;
    float: left;
}
.highscore .highscore-title {
    padding: 5px 10px;
    text-align: center;
    color: #FFF;
    background: #666;
}
.highscore table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: bold;
    color: #333;
}
.highscore table tr {
    background: #DDD;
}
.highscore table tr td {
    padding: 10px;
    text-align: right;
}
.highscore table tr.current {
    color: #5cb85c;
    background-color: #3e8f3e;
}
.fade {
    opacity:0;
}
.hidden {
    opacity:0;
    visibility: hidden;
}
.image-input {

}
.cell-0-0 {
    margin-left:2px;
    margin-top:2px;
}
.cell-0-1 {
    margin-left:84px;
    margin-top:2px;
}
.cell-0-2 {
    margin-left:166px;
    margin-top:2px;
}
.cell-0-3 {
    margin-left:248px;
    margin-top:2px;
}
.cell-1-0 {
    margin-left:2px;
    margin-top:84px
}
.cell-1-1 {
    margin-left:84px;
    margin-top:84px
}
.cell-1-2 {
    margin-left:166px;
    margin-top:84px
}
.cell-1-3 {
    margin-left:248px;
    margin-top:84px
}
.cell-2-0 {
    margin-left:2px;
    margin-top:166px;
}
.cell-2-1 {
    margin-left:84px;
    margin-top:166px;
}
.cell-2-2 {
    margin-left:166px;
    margin-top:166px;
}
.cell-2-3 {
    margin-left:248px;
    margin-top:166px;
}
.cell-3-0 {
    margin-left:2px;
    margin-top:248px;
}
.cell-3-1 {
    margin-left:84px;
    margin-top:248px;
}
.cell-3-2 {
    margin-left:166px;
    margin-top:248px;
}
.cell-3-3 {
    margin-left:248px;
    margin-top:248px;
}