.page-container {
	padding: 60px 30px;
}
p {
	text-align: justify;
	font-size: 18px;
}
/* tables */
table{
	border-spacing:5px;
	border-collapse: collapse;
	width:100%
}
th,
td{
	padding:5px;
    text-align: center;
}
tr:nth-child(even) {
	background: #eee;
}
td:last-child {
	border-right: none;
}

/* navigation */

ul.nav li span {
	font-size:20px;
	letter-spacing:1px;
	text-shadow: #000 1px 1px 2px;
	transition: color 0.2s;
}
ul.nav li ul li a {
	font-size:17px;
	letter-spacing:0px;
}
.nav>li>a:focus,
.nav>li>a:hover {
	color: white;
    background: none;
}
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover{
	background: none;
    border: none;
}
ul.nav {
	padding:30px 60px 30px 0px;
	transition: all 0.5s;
}
.nav.small {
	padding:0px 60px 0px 0px;
}

@media (min-width: 768px) {
	.navbar-nav {
		float: right;
	}
}

.h1 {
	word-spacing:8px;
	letter-spacing:3px;
}

.hint {
	font-size: 1em;
	font-style: italic;
	font-style: italic;
}
