table {
    border-collapse: collapse;
    width:100%;
}

table td {
    padding: 5px;
}
th,
td{
    padding:5px;
    text-align: center;
}
table.edit {
    color: #FFFFFF;
    font-size:16px;
}
table.edit thead {
    background: rgb(121, 4, 246);
    font-size:18px;
}
table.edit .difficulty,
table.edit .action {
    width:1%;
}
table.edit tbody tr td:first-child {
    text-align:left;
}
table.edit tbody tr td {
    background-color: rgb(102, 132, 254);
}
table.edit tbody tr td:nth-child(even) {
    background: rgb(84, 114, 239);
}
table.edit tbody tr:nth-child(even) td {
    background: rgb(72, 94, 182) ;
}
table.edit tbody tr:nth-child(even) td:nth-child(even) {
    background-color: rgb(54, 73, 145);
}