.progress-bar{width:50%;height:40px;margin:60px auto;background-color:grey}.progress-bar .progress-title,.progress-bar .progress-text{margin:0;font-size:1em;line-height:40px;text-align:center;white-space:nowrap}.progress-bar .progress-title{position:absolute;margin-top:-40px;width:50%}.progress-bar .progress-text{position:relative;margin-top:-40px}.progress-bar .progress-line{background:darkgray;height:40px;width:0}

/*# sourceMappingURL=test.css.map */