header {
    display: none;
}
.board {
    float: left;
    background: #666;
    position: relative;
    cursor: pointer;
    margin: 0 20px 20px 0;
}
.board-tictactoe .cell{
    height: 30px;
    width: 30px;
    float: left;
    /*margin: 2px 0 0 2px;*/
}
.board-tictactoe .cell span {
    display: block;
    width:100%;
    height:100%;
    background: #ccc;
    text-align: center;
    color:black;
    font-size:30px;
    text-transform:uppercase;
    cursor: pointer;
}
.board-tictactoe .cell span:hover{
    background:#ddd;
}
