html,
body {
	color: rgb(245, 241, 249);
	padding: 0;
	margin : 0;
	background: #060916;
}

.questions  {
	width:760px;
	margin: 160px auto;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
} 

.question {
	font-size: 20px;
	height:85px;
	width:100%;
	display: table;
    box-sizing: border-box;
}
.question:before,
.question:after {
	content:" "; 
	display:table-cell;
	width: 90px;
	background-repeat:no-repeat;
	height: 100%;
	margin: 0;
}
.question:before {
	background-image: url("../img/question-left.gif");
}
.question:after {
	right:-40px;
	background-image: url("../img/question-right.gif");
}
.question span {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
	padding: 10px 0px;
    box-sizing: border-box;
	background-image: url("../img/question-middle.gif");
	background-repeat:repeat-x;
}
.question-backrground {
	height:100%;
	margin:0;
	content:" ";
	display:table-cell;
}

.answer {
	float: left;
    width: 50%;
    text-align: center;
    padding:0;
	margin-bottom: 13px;
    box-sizing: border-box;
	display:table;
	height:50px;
	clear:none;
	cursor:pointer;
	font-size:16px;
}

.answer:hover{
	color:yellow;
}

.answer:before,
.answer:after {
	content:" ";
	display:table-cell;
	width: 53px;
	height: 100%;
	margin: 0;
	background-repeat:no-repeat;
}
.answer:before {
	background-image: url("../img/question-left.gif");
	background-size: 53px 50px;
}

.answer:after {
	background-image: url("../img/question-right.gif");
	background-size: 53px 50px;
}

.answer span {
	display: table-cell;
    vertical-align: middle;
    padding: 6px 0px;
    box-sizing: border-box;
	background-image: url("../img/question-middle.gif");
	background-size: 1px 50px;
    background-repeat: repeat-x;
}

.clear:after {  /* Imaginary class name */
  content: "";
  clear: both;
  display: block;
}