<?php if (app()->isLogged()) { ?>
<header>
    <nav>
        <form action="/logout" method="post">
            <button type="submit" name="logout">Изход</button>
        </form>
        <ul class="nav">
            <?php if (app()->isAdmin()) { ?>
            <li class="navlogo">
                <img src="/img/logo_small.png"/>
            </li>
            <li>
                <span>Администрация</span>
                <ul class="dropdown-menu">
                    <li><a href="/users">Потребители</a></li>
                    <li><a href="/wwtbam-edit">Стани Богат</a></li>
                </ul>
            </li>
            <?php } else { ?>
            <li>
                <span>Профил</span>
                <ul class="dropdown-menu">
                    <li><a href='/user/<?php echo app()->getCurrentUserId(); ?>'>Настройки</a></li>
                </ul>
            </li>
             <?php } ?>
            <!--<li>
                <a href="/index">Игри</a>
                <ul class="dropdown-menu">
                    <li><a href="/tictactoe"><img src="/img/tictactoe.png" alt="marine chess" height="30" width="30">Морски шах</a></li>
                    <li><a href="/puzzle"><img src="/img/puzzle.png" alt="puzzle game" height="30" width="30">Пъзел</a></li>
                    <li><a href="/wwtbam"><img src="/img/millionairelogo.gif" alt="wwtbam" height="30" width="30">Стани Богат</a></li>
                </ul>
            </li>-->
            <!--li style="position: relative;left: 596px;">
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                    }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </li-->
            <!--<nav class="new-nav" role="navigation">
                <ul>
                    <li>
                        <a>Викторини</a>
                        <ul clas="dropdown-menu">
                            <li><a href="/wwtbam"><img src="/img/millionairelogo.gif" alt="wwtbam" height="30" width="30">Стани Богат</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Класически</a>
                        <ul clas="dropdown-menu">
                            <li><a href="/tictactoe"><img src="/img/tictactoe.png" alt="marine chess" height="30" width="30">Морски шах</a></li>
                            </ul>
                    </li>
                    <li>
                        <a>Пъзели</a>
                        <ul clas="dropdown-menu">
                            <li><a href="/puzzle"><img src="/img/puzzle.png" alt="puzzle game" height="30" width="30">Пъзел</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Екшън</a>
                        <ul clas="dropdown-menu">
                            <li><a href="/tictactoe"><img src="/img/tictactoe.png" alt="marine chess" height="30" width="30">Морски шах</a></li>
                            <li><a href="/puzzle"><img src="/img/puzzle.png" alt="puzzle game" height="30" width="30">Пъзел</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Мултиплеър</a>
                        <ul clas="dropdown-menu">
                            <li><a href="/tictactoe"><img src="/img/tictactoe.png" alt="marine chess" height="30" width="30">Морски шах</a></li>
                            <li><a href="/puzzle"><img src="/img/puzzle.png" alt="puzzle game" height="30" width="30">Пъзел</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>Спортни</a>
                        <ul clas="dropdown-menu">
                            <li><a href="/tictactoe"><img src="/img/tictactoe.png" alt="marine chess" height="30" width="30">Морски шах</a></li>
                            <li><a href="/puzzle"><img src="/img/puzzle.png" alt="puzzle game" height="30" width="30">Пъзел</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>-->
        </ul>
    </nav>
</header>
<?php } ?>