<head>
    <meta charset="utf-8">
    <title><?php app()->getPageTitle(); ?></title>


    <?php
	foreach(app()->getCssFiles() as $file) { 
		if ($file['vendor']) {
	?>
    <link rel="stylesheet" href="<?php echo($file['path']); ?>">
	<?php
		}
	}
	?>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <?php
	foreach(app()->getCssFiles() as $file) {
		if (!$file['vendor']) {
	?>
    <link rel="stylesheet" href="<?php echo($file['path']); ?>">
	<?php
		}
	}
	?>
</head>