<!DOCTYPE html>
<html>
<?php require(__DIR__ . '/head.phtml'); ?>
<body>

    <?php app()->require_file(__DIR__ . '/header.phtml'); ?>

    <?php app()->require_file(__DIR__ . '/../../pages/' . app()->getPageName() . '.phtml'); ?>

    <?php app()->require_file( __DIR__ . '/footer.phtml'); ?>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>

	<?php
	foreach(app()->getJsFiles() as $file) { 
		if ($file['vendor']) {
	?>
	<script type="text/javascript" src="<?php echo($file['path']); ?>"></script>
	<?php
		}
	}
	?>

    <script src="js/bootstrap.min.js"></script> <!-- NUMBER 2 some bootstrap -->
    <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script> <!-- NUMBER 3 some for tables -->
    <script type="text/javascript" src="/js/statisticsTable.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script> <!-- NUMBER 4 your scripts -->


    <?php
	foreach(app()->getJsFiles() as $file) { 
		if (!$file['vendor']) {
	?>
	<script type="text/javascript" src="<?php echo($file['path']); ?>"></script>
	<?php
		}
	}
	?>
</body>
</html>