<div class="board">
    <div class="board-row">
        <div class="game wwtbam">
            <a href="/wwtbam"><img src="img/wwtbam-view.png" alt="wwbtam.png" height="200px" width="300px"></a>
        </div>
        <div class="game puzzle">
            <a href="/puzzle"><img src="img/puzzle-view.png" alt="puzzle.png" height="200px" width="300px"></a>
        </div>
        <div class="game tic-tac-toe">
            <a href="/tictactoe"><img src="img/tictactoe-view.png" alt="tic-tac-toe.png" height="200px" width="300px"></a>
        </div>
    </div>
</div>

    <!--<div id="wwtbam" clas="page-container wwtbam">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/wwtbam">СТАНИ БОГАТ</a>
                </div>
            </div>
        </div>
    </div>
    <div id="puzzle" clas="page-container puzzle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/puzzle">ПЪЗЕЛ</a>
                </div>
            </div>
        </div>
    </div>
    <div id="tictactoe" clas="page-container tictactoe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="/tictactoe">МОРСКИ ШАХ</a>
                </div>
            </div>
        </div>
    </div> -->

