<div class="container">
    <?php include(__DIR__ . '/../errors.phtml'); ?>
    <form class="upload-form" action="insert/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" multiple>
        <input type="submit" value="Send!"/>
    </form>

    <div class="questions">

    </div>
</div>

<script id="questionsFile_tmpl" type="html/tmpl">
    <p><span class="filename">${filename}</span>: <span class="count">${count}</span> / <span class="total">${total}</span></p>
</script>