<a href="/index" class="home-btn" style="padding: 25px;">Back</a>
<div class="container">
    <?php include(__DIR__ . '/../errors.phtml'); ?>
    <form class="login-form" action="/login" method="post">
        <div class="form-input">
            <input required placeholder="E-mail" autocomplete="true" type="text" name="email" value="<?php echo(controller()->getData('email')); ?>">
        </div>
        <div class="form-input">
            <input required placeholder="Password" autocomplete="false" type="password" name="password">
        </div>
        <button type="submit" class="btn-login">Login</button><br>
        <a href="/register">Don't have account?</a><br>
        <a href="/reset">Don't remember your password?</a>
    </form>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<?php if(!app()->isLogged()) { ?>
		<script type="text/javascript" src="js/login.js"></script>
<?php }?>