<?php
    $questions = controller()->getQuestions();
    for($i = 0; $i < count($questions); $i++) {
?>
<div>
    <p><?php echo($questions[$i]['question']); ?></p>
    <ul>
        <?php for($j = 0; $j < count($questions[$i]['answers']); $j++) { ?>
        <li><?php echo($questions[$i]['answers'][$j]); ?></li>
        <?php } ?>
    </ul>
    <p><?php echo($questions[$i]['rightAnswer']); ?></p>
</div>
<hr>
<?php } ?>