	<a href="/index" class="home-btn" style="padding: 28px;">Back</a>
    <button class="highscore-btn">Highscore</button><br>
	<div class="timer"></div>
	<button class="new-btn" type="button">New Game</button>
	<button class="reset-btn" type="button">Reset</button>
	<button class="reset-highscore-btn" type="button">Reset Highscore</button><br>
	<input id="image-input"></input>
	<button class="use-image" type="button">Use Image</button>
	<button class="remove-image" type="button">Remove Image</button>
	<div class="puzzle">
		<div class="board-puzzle" ></div>
		<div class="highscore">
			<div class="highscore-title">Highscore</div>
			<table></table>
		</div>
	</div>