<a href="/index" class="home-btn" style="padding: 25px;">Back</a>
<div class="container">
	<?php include(__DIR__ . '/../errors.phtml'); ?>
	<form class="register-form" action="" method="post">
		<div class="form-input">
			<input required placeholder="Username" type="text" name="username" value="<?php  echo(controller()->getData('username')); ?>">
		</div>
		<div class="form-input">
			<input required placeholder="E-mail" type="text" name="email" value="<?php  echo(controller()->getData('email')); ?>" >
		</div>
		<div class="form-input">
			<input required placeholder="Password" type="password" name="password">
		</div>
		<div class="form-input">
			<input required placeholder="Password Again" type="password" name="passwordagain">
		</div>
		<div class="form-input">
			<input required placeholder="Secure Questoin" type="text" name="question" value="<?php  echo(controller()->getData('question'));?>">
		</div>
		<div class="form-input">
			<input required placeholder="Secure Answer" type="text" name="answer" value="<?php  echo(controller()->getData('answer')); ?>">
		</div>
		<button class="btn-login" type="submit">Sign Up</button>
	</form>
</div>

<script type="text/javascript" src="js/register.js"></script>