<a href="/index" class="home-btn" style="padding: 25px;">Back</a>
<div class="container">
			<?php include(__DIR__ . '/../errors.phtml'); ?>
		<form class="reset-form" action="/reset" method="post">
			<?php if (controller()->getData('stage') == 0) { ?>
			<div class="input-form">
				<h3>Type your e-mail here : </h3>
				<input required placeholder="E-mail" type="text" name="email">
			</div>	
			<?php } else if (controller()->getData('stage') == 1) { ?>
			<div class="input-form">
				<h3>Answer your question : </h3>
				<h4><?php echo (controller()->getData('question')); ?></h4>
				<input required placeholder="Answer" type="text" name="answer">
			</div>
			<?php } else if (controller()->getData('stage') == 2) { ?>
			<div class="input-form">
				<h3>Type your new password : </h3>
				<input required placeholder="New Password" type="password" name="newpassword"><br>
				<input required placeholder="New Password Again" type="password" name="newpasswordagain">
			<div class="input-form">
			<?php } ?>
			<button class="btn-login" type="submit" name="submit">OK</button>
		</form>
	</div>
	
	<script type="text/javascript" src="js/jquery.min.js"></script>		