<a href="/index" class="home-btn" style="padding: 25px;">Back</a>
	<button class="new-btn" type="button">New Game</button>
	<button class="mult-btn" type="button">Multiplayer</button>
	<div class="board board-tictactoe">
		
	</div>
