
<a href="/index">Назад</a>
<div class="users-stats">
    <table class="display statistics-table" cellspacing="0">
        <thead>
            <tr>
                <th>Име</th>
                <th>Имейл</th>
                <th>Регистриран</th>
                <th data-class-name="priority">Последен Вход</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <?php
        foreach (DB::fetch(controller()->getData('result')) as $row) { ?>
            <tr class="data">
                <td><?php echo $row['username']; ?></td>
                <td><?php echo $row['email']; ?></td>
                <td data-order="<?php echo date( "Y-m-d G:i", strtotime($row['created'])); ?>"><?php echo date( " d M y", strtotime($row['created']));?></td>
                <td><?php echo(controller()->formatUserLastLogin(strtotime($row['lastlogin']))); ?></td>
                <td><a href='/user/<?php echo $row['id']; ?>' title="Редактирай"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
