<?php include('/../errors.phtml'); ?>
    <a href="<?php echo(app()->isAdmin() ? '/users' : '/index'); ?>">Go Back</a>
	<form action="" method="post" >
		<label>E-mail</label>
		<input required placeholder="E-mail" autocomplete="false" type="text" name="email" value="<?php echo(controller()->getData('user')['email']); ?>" ><br>
		<label>Username</label>
		<input required placeholder="Username" autocomplete="true" type="text" name="username" value="<?php echo(controller()->getData('user')['username']); ?>">
		<label>New Password</label>
		<input placeholder="NewPassword" autocomplete="false" type="password" name="newpassword"<br>
		<label>New Password Again</label>
		<input placeholder="NewPasswordAgain" autocomplete="false" type="password" name="newpasswordagain"<br>
		<label>Question</label>
		<input required placeholder="Question" autocomplete="false" type="text" name="question" value="<?php echo(controller()->getData('user')['question']); ?>"><br>
		<label>Answer</label>
		<input required placeholder="Answer" autocomplete="false" type="text" name="answer" value="<?php echo(controller()->getData('user')['answer']); ?>"><br>
		<label>Your current password</label>
		<input required type="password" name="password"><br>
		<button type="submit" name="submit">Save</button>
	</form>
	<script type="text/javascript" src="js/jquery.min.js"></script>	
	<script type="text/javascript" src="js/login.js"></script>	
 