<div class="end-game-msg">
    <a class="new-game-btn" href="/wwtbam">New Game</a>
    <a class="menu-btn" href="/index">Main Menu</a>
</div>
<div class="help-info-copy">

</div>
<div class="help-info">
    <h3>How to play?</h3>
    <p>
        The game follows the rules of the original game "Who wants to be a millionaire" : There are 15 questions and
        15 prizes for each question(extra feature is the timer which counts 60 seconds to answer each question).
        The player has to answer all of the questions correctly to win the game. If the
        player makes a mistake, he automatically loses the game. There are 3 jokers which can be used whenever the
        player wants: 1 - reset time, 2 - remove two wrong answers, 3 - move to the next question. Goodluck!
        <br>
    </p>
</div>
<ul class="games-container">
    <li class="item timer progress-pie-chart">
        <div class="ppc-progress">
            <div class="ppc-progress-fill"></div>
        </div>
                <div class="logo">
                    <div class="elipse elipse1"></div>
                    <div class="elipse elipse2"></div>
                    <div class="elipse elipse3"></div>
                    <div class="elipse elipse4"></div>
                    <div class="elipse elipse5"></div>
                    <div class="elipse elipse6"></div>
                    <div class="elipse elipse7"></div>
                    <div class="elipse elipse8"></div>
                    <div class="elipse elipse9"></div>
                    <div class="inner-circle"></div>
                </div>
    </li>
    <li class="item sidebar">
        <ul class="animated bank">
            <h3>Your Bank</h3>
            <h1 class="money">$0</h1>
        </ul>
        <ul class="animated info"><a>?</a></ul>
        <ul class="ladder">
            <!--<div class="dot"></div><img scr="img/dot.png" alt="dot.png" width="5px" height="5px" />-->
            <li id="step15" class="animated"> <h4>$1 MILLION</h4></li>
            <li id="step14" class="animated"> <h4>$500000</h4></li>
            <li id="step13" class="animated"> <h4>$250000</h4></li>
            <li id="step12" class="animated"> <h4>$125000</h4></li>
            <li id="step11" class="animated"> <h4>$64000</h4></li>
            <li id="step10" class="animated"> <h4>$32000</h4></li>
            <li id="step9" class="animated"> <h4>$16000</h4></li>
            <li id="step8" class="animated"> <h4>$8000</h4></li>
            <li id="step7" class="animated"> <h4>$4000</h4></li>
            <li id="step6" class="animated"> <h4>$2000</h4></li>
            <li id="step5" class="animated"> <h4>$1000</h4></li>
            <li id="step4" class="animated"> <h4>$500</h4></li>
            <li id="step3" class="animated"> <h4>$400</h4></li>
            <li id="step2" class="animated"> <h4>$200</h4></li>
            <li id="step1" class="animated"> <h4>$100</h4></li>
        </ul>
        <ul class="sound-on">
            <img src="/img/sound-on.png" class="speaker-on" </img>
        </ul>
        <ul class="sound-off">
            <img src="/img/sound-off.png" class="speaker-off" </img>
        </ul>
    </li>
    <li class="item questions">
        <div>
            <?php
            include(__DIR__ . '/../errors.phtml');
            $question = controller()->getQuestion();
            ?>
            <h3 class='question original'><span class="animated"><?php echo($question['question']); ?></span></h3>
            <h3 class="question-background"></h3>
            <form action="" method="POST">
                <?php for ($i = 0; $i < 4; $i++) {
                    /*switch ($i) {
                        case 0:$letter="A";break;
                        case 1:$letter="B";break;
                        case 2:$letter="C";break;
                        case 3:$letter="D";break;
                    }*/?>
                    <input id="answer<?php echo($i+1); ?>" type="radio" class="input-answer" name="answer" value="<?php echo($i+1); ?>">
                    <label class="answer animated" data-value="<?php echo($i+1); ?>"  for="answer<?php echo($i+1); ?>"><span name="answer<?php echo($i+1); ?>" class="animated <?php echo($i+1); ?> "><?php echo($question['answer' . ($i + 1)]); ?></span></label>
                <?php } ?>
                <!--<div class="send"><button type="submit" class="submit" name="submit">SEND</button></div>
                <div class="clear"></div>-->
            </form>
        </div>
    </li>
    <li class="item jokers">
        <ul class="animated item more-time" data-type="time"><!--<img scr="img/moreTime2.png" alt="MT.png" width="5px" height="5px" />--></ul>
        <ul class="animated item fifty-fifty" data-type="fifty-fifty"><span>50/50</span></ul>
        <ul class="animated item cut" data-type="cut"><!--<img scr="img/cut.png" alt="cut.png" width="5px" height="5px" />--></ul>
    </li>
    <li class="item msg questions">
        <div>
            <h3 class='question'><span class="animated"></span></h3>
            <h3 class="question-background"></h3>
            <form action="" method="POST">

            </form>
        </div>
    </li>
</ul>
<script type="text/javascript">
    var wwtbamData = {
        timeTotal: <?php echo(controller()->timeTotal); ?>,
        timeStarted: <?php echo(controller()->getTimeStarted()); ?>,
        timeNow: <?php echo time(); ?>,
        trueAnswer: <?php echo(controller()->getQuestionAnswer()); ?>,
        rightAnswers: <?php echo(controller()->getRightAnswers()); ?>
    };
    window.onbeforeunload = function() {
        return "Dude, are you sure you want to leave? You will start the game all over again!";
    }
</script>
<script id="question_tmpl" type="tmpl">
    <h3>Question!</h3>
</script>
<script id="gameEnd_tmpl" type="tmpl">
    <h3>Game End!</h3>
</script>