	<a href="/index">Начало</a>
	<a href="/wwtbam-edit">Назад</a>
	<?php include('/../errors.phtml'); ?>
	<form action="" method="post" >
		<label>Въпрос</label>
		<input required placeholder="Въпрос" autocomplete="false" type="text" name="question" value="<?php echo(isset($_POST['question']) ? $_POST['question'] : controller()->getData('questionRow')['question']);?>" ><br>
		<label>Отговор 1</label>
		<input placeholder="отговор 1" autocomplete="false" type="text" name="answer1" value="<?php echo(isset($_POST['answer1']) ? $_POST['answer1'] : controller()->getData('questionRow')['answer1']); ?>"><br>
		<label>Отговор 2</label>
		<input placeholder="отговор 2" autocomplete="false" type="text" name="answer2" value="<?php echo(isset($_POST['answer2']) ? $_POST['answer2'] : controller()->getData('questionRow')['answer2']); ?>"><br>
		<label>Отговор 3</label>
		<input placeholder="отговор 3" autocomplete="false" type="text" name="answer3" value="<?php echo(isset($_POST['answer3']) ? $_POST['answer3'] : controller()->getData('questionRow')['answer3']); ?>"><br>
		<label>Отговор 4</label>
		<input placeholder="отговор 4" autocomplete="false" type="text" name="answer4" value="<?php echo(isset($_POST['answer4']) ? $_POST['answer4'] : controller()->getData('questionRow')['answer4']); ?>"><br>
		<label>Трудност</label>
		<select name="difficulty">
			<option value="">Избери Трудност</option>
		<?php	
			$diff = isset($_POST['difficulty']) ? $_POST['difficulty'] : controller()->getData('questionRow')['difficulty']; 
			for($i = 1; $i <= 10; $i++) { ?>
			<option value="<?php echo($i); ?>" <?php if ($diff == $i) { echo('selected="selected"'); } ?> ><?php echo($i); ?></option>
		<?php } ?>
		</select></br>
		<label>Правилен отговор</label>
		<select name="answer">
			<option value="">Избери правилен отговор</option>
		<?php	
			$answ = isset($_POST['answer']) ? $_POST['answer'] : controller()->getData('questionRow')['correctAnswer']; 
			for($i = 1; $i <= 4; $i++) { ?>
			<option value="<?php echo($i); ?>" <?php if ($answ == $i) { echo('selected="selected"'); } ?> ><?php echo($i); ?></option>
		<?php } ?>
		</select></br>
		<button type="submit" name="submit">Промени</button>
	</form>
