<div class="questions"></div>

<script id="question_tmpl" type="html/tmpl">
	<div>
		<h3 class="question"><span>{QUESTION}</span></h3>
		<div>
			<div class="answer"><span>{ANSWER1}</span></div>
			<div class="answer"><span>{ANSWER2}</span></div>
			<div class="answer"><span>{ANSWER3}</span></div>
			<div class="answer"><span>{ANSWER4}</span></div>
			<div class="clear"></div>
		</div>
	</div>
</script>

<script id="result_tmpl" type="html/tmpl">
	<h3>Correct answers: {ANSWERS}</h3>
</script>

<script src="js/jquery.min.js"></script>
<script src="js/wwtbam1.js"></script>