<a href="/index">Начало</a>

<?php if ($stats = controller()->getUsersStatistics()) { ?>
<table class="display statistics-table">
    <thead>
        <tr>
            <th>Име</th>
            <th>Изиграни</th>
            <th data-class-name="priority">Спечелени</th>
            <th>Загубени</th>
        </tr>
    </thead>
    <tbody>
    <?php for($i = 0; $i < count($stats); $i++) { ?>
        <tr>
            <td><?php echo $stats[$i]['username']; ?></td>
            <td><?php echo $stats[$i]['played']; ?></td>
            <td><?php echo (int)$stats[$i]['won']; ?></td>
            <td><?php echo $stats[$i]['played'] - $stats[$i]['won']; ?></td>
        </tr>
    <?php } ?>
    </tbody>
</table>
<?php } else { ?>
<p>No statistics</p>
<?php } ?>