	
	<a href="index.php">Начало</a>
	<?php include('/../errors.phtml'); ?>
	<form action="" method="post" >
		<label>Въпрос</label>
		<input required placeholder="Въпрос" autocomplete="false" type="text" name="question" value="<?php if(isset($_POST['question'])){echo($_POST['question']);} ?>" ><br>
		<label>Трудност</label>
		<select name="difficulty">
			<option value="">Избери трудност</option>
		<?php for($i = 1; $i <= 10; $i++) { ?>
			<option value="<?php echo($i); ?>" <?php if(isset($_POST['difficulty']) && $_POST['difficulty']==$i ) { echo('selected="selected"'); } ?> ><?php echo($i); ?></option>
		<?php } ?>
		</select>
		<label>Отговор 1</label>
		<input placeholder="отговор 1" autocomplete="false" type="text" name="answer1" value="<?php if(isset($_POST['answer1'])){echo($_POST['answer1']);} ?>"><br>
		<label>Отговор 2</label>
		<input placeholder="отговор 2" autocomplete="false" type="text" name="answer2" value="<?php if(isset($_POST['answer2'])){echo($_POST['answer2']);} ?>"><br>
		<label>Отговор 3</label>
		<input placeholder="отговор 3" autocomplete="false" type="text" name="answer3" value="<?php if(isset($_POST['answer3'])){echo($_POST['answer3']);} ?>"><br>
		<label>Отговор 4</label>
		<input placeholder="отговор 4" autocomplete="false" type="text" name="answer4" value="<?php if(isset($_POST['answer4'])){echo($_POST['answer4']);} ?>"><br>
		<label>Правилен отговор</label>
		<select name="answer">
			<option value="">Избери правилен отговор</option>
		<?php for($i = 1; $i <= 4; $i++) { ?>
			<option value="<?php echo($i); ?>" <?php if(isset($_POST['answer']) && $_POST['answer']==$i ) { echo('selected="selected"'); } ?> ><?php echo($i); ?></option>
		<?php } ?>
		</select></br>
		<button type="submit" name="submit">Създай</button>
	</form>
