<a href="/index">Начало</a>
<a href="/wwtbam-edit/new">Създай Въпрос</a>
<a href="/wwtbam-statistics">Статистика</a>
<table class="edit">
	<thead>
		<tr>
			<th>Въпрос</th>
			<th class="difficulty">Трудност</th>
			<th class="action">Редактирай</th>
		</tr>
	</thead>
	<tbody>
	<?php //$result = controller()->getData('result'); 
	while($row = controller()->getData('result')->fetch_assoc()) { ?>
		<tr>
			<td><?php echo $row['question']; ?></td>
			<td><?php echo $row['difficulty']; ?></td>
			<td><a href="/wwtbam-edit/<?php echo ($row['id']) ; ?>">
				<img border="0" alt="Edit" src="img/edit.png" width="20">
			</a></td>
		</tr>
	<?php } ?>
	</tbody>
</table>
