body {
  margin:0;
  padding:0;
  background-color: #a9b6d0;
  font-family: sans-serif;
  font-size:20px;
}

p,
a,
span,
h1,
h2,
h3,
h4{
  user-select: none;
}
header {
  position: relative;
  color:#fff;
  padding:46px;
  background-color: rgba(35, 72, 148, 0.9);
  //box-shadow: rgba(35, 72, 148, 0.6) 0px 2px 4px;
  transition: all 0.4s;
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  nav.new-nav {
    margin: 5px -18px -30px 0px;
    position: relative;
    z-index: 10;
    transition: all 0.5s;
    ul {
      display: table-row;
      padding: 0;
      margin: 48px 0px 0px 225px;
      background: none;
      &:hover {
        text-decoration: none;
      }
      li {
        &:hover {
          text-decoration: none;
        }
        display: table-cell;
        float: left;
        padding: 10px 10px;
        transition: all 0.2s;
        border-style: solid;
        border-color: dodgerblue;
        border-radius: 24px;

        /*display: table-cell;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        transition: all 0.2s;*/
        a {
          border-radius: 4px 0 0 4px;
          display: block;
          border-width: 1px 0 1px 1px;
        }
        ul {
          list-style-type: none;
          overflow: hidden;
          display: none;
          position: absolute;
          background: rgba(0,0,0,0.6);
          padding: 0;
          margin-left: -10px;
          margin-top: 10px;
          z-index: 9;
        }
      }
    }

  }
}
header form {
  float: right;
}

h1 {
  color:#1d3309;
}

/*p span {
    display: block;
    background: blue;
    padding: 2px 5px;
}*/

label {
  display:block;
  clear:both;
}

a {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  text-decoration:none;
  transition: all 0.2s;
  /*&:hover {
    background: rgba(0, 0, 0, 0.6);
  }*/
}

button:hover {
  color: rgb(51, 51, 51);
  background-color: rgba(169, 169, 165, 0.9);
}

button {
  cursor:pointer;
}

button:focus {
  outline: none;
}

button:disabled {
  background:#eee;
  color:#999;
  cursor:default;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.center {
  text-align: center !important;
}

.lower {
  text-transform: lowercase !important;
}
.upper {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: capitalize !important;
}
.logoutbtn,
.logoutbtn:hover {
  background: none;
  border: none;
  font-size: 19px;
  color: white;
  padding-top: 50px;
}
#google_translate_element {

}