.register-form input, button {
  padding: 0 11px;
  border: 1px solid #d8d8d8;
  color: #222;
  font-size: 14px;
  font-family: 'Source Sans Pro';
  height: 30px;
}


.container {
  position: relative;
  top: 225px;
  width:360px;
  /*min-height:350px;*/
  padding:30px;
  text-align: center;
  background-color: rgb(26, 96, 67);
  border-radius: 30px;
  margin: 0 auto;
  margin-top:-10px;
  /*display:inline-block;*/
}

input[type="text"],
input[type="password"] {
  height: 45px;
  width: 300px;
  font-size: 18px;
  border: none;
  margin-bottom: 30px;
  border-radius: 7px;
  background-color: #fff;
  padding-left: 30px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  outline: none;
}

.btn-login {
  background-color: rgba(47, 86, 129, 0.8);
  font-size:30px;
  height: 57px;
  width: 150px;
  cursor: pointer;
  font-family:sans-serif;
  border-radius: 7px;
  border: none;
  margin-bottom: 20px;
  outline: none;
  &:hover {
    background-color: rgba(47, 86, 129, 0.8);
    box-shadow: 2px 2px 0 rgb(0, 0, 0);
  }
}

/*.btn-login:hover
{
  color: rgb(51, 51, 51);
  background-color: rgba(169, 169, 165, 0.9);
}*/

.btn-login:active {
  margin-top:2px;
  margin-left:2px;
  margin-bottom:18px;
  box-shadow:none;
}



.errors {
  margin-left: 15px;
  background-color: rgba(86, 47, 255, 0.9);;
  border-radius: 7px;
  width: 320px;
  padding: 5px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}