.board {
  display: table;
  border-spacing:0;
  background-color: #EEE;
  margin: 2rem auto;
  padding: 2rem;
  user-select: none;
  height: 300px;
  width: 850px;
  transition: all .5s ease-out;
  box-shadow: 6px 5px 6px #667;
}
.board .board-row {
  white-space:nowrap;
  margin-bottom: 0.5rem;
}
.board .game {
  margin-right: 0.5rem;
  display: inline-block;
  transform-style: preserve-3d;
  transition: all .5s ease-out;
  cursor: pointer;
  background: -moz-linear-gradient(top, #FFF, #DDD);
  background: -webkit-gradient(linear, 0 0, 0% 100%, from(#FFF), to(#EEE));
}
div.error {
  height:10em;
  posiiton:relative;
}
div.error h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
}


/*.container {
padding-right:15px;
padding-left:15px;
margin-right:auto;
margin-left:auto;
}

.container {
max-width:100%;
}
.container a
{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    text-shadow: rgba(0, 0, 0, 1) 4px 4px 5px;
}

.page-container {
    padding: 60px 30px;
}

.container:after {
    clear: both;
}

.row {
    margin-right:-15px;
    margin-left:-15px;
}

.row:after,
.row:before {
    display:table;
    content:" ";
}

.row:after {
    clear:both;
}

.col-md-12 {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float:left;
    width:100%;
}

#puzzle {
    background: url(../../img/puzzle-view.jpg);
    background-size: 100% auto;
    padding: 60px 30px;
    min-height: 115px;
}
#tictactoe {
    background: url(../../img/tictactoe-view.jpg);
    background-size: 100% auto;
    padding: 60px 30px;
    min-height: 115px;
}
#wwtbam {
    background: url(../../img/wwtbam-view.png);
    background-size: 100% auto;
    padding: 60px 30px;
    min-height: 150px;
}*/