form button {
  padding: 10px 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  border: none;
  background: none;
  transition: all 0.2s;
  &:hover {
    background: rgba(0, 0, 0, 0.6);
    color: white;
  }
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0 60px 30px 0;
  transition: all 0.5s;
  li.navlogo {
    padding: 0 0;
    position: relative;
    bottom: 10px;
    right: 10px;
    img {
      width: 80px;
      height: 65px; // if height != 65px 'question panel' moves right
    }
    &:hover {
      background: none;
    }
  }
  li span,
  li a {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    transition: all 0.4s;
  }
  > li {
    float: left;
    padding: 10px 10px;
    transition: all 0.2s;
  }
  ul {
    list-style-type: none;
    overflow: hidden;
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    padding: 0;
    margin-left: -10px;
    margin-top: 10px;
    z-index: 9;
  }
  a:hover {
    text-decoration: none;
  }
  li:hover > ul{
    display: block;
  }
  > li:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  ul li:hover {
    background: rgba(35, 106, 148, 0.6);
  }
  ul {
    a {
      display:block;
      padding:10px;
      line-height: 30px;
      * {
        float: left;
      }
    }
    img {
      margin-right:15px;
      width: 30px;
      height: 30px;
    }
  }
  span {
    text-shadow: 1px 1px 2px black;
    cursor:default;
  }
}

.dropdown-menu{
  background: rgba(25, 83, 148, 0.5);
  padding: 0;
  li>a:focus,
  li>a:hover{
    background: rgba(25, 83, 148, 0.8);
  }
}