.games-container {
  padding:0px 30px;
}
nav span,
nav a {
  text-transform: uppercase;
  font-size:15px;
  color: white;
}
nav li:hover {
  color: #2e6da4;
}
nav {
  background-color: rgba(25, 83, 148, 0.5);
  box-shadow: rgba(25, 83, 148, 0.6) 0px 2px 4px;
  transition: all 0.4s;
}
.nav a {
  font-size:20px;
  letter-spacing:1px;
  text-shadow: #3c3c3c 1px 1px 2px;
  transition: color 0.2s;
}
.nav ul a {
  font-size:17px;
  letter-spacing:0px;
}
.dropdown-menu {
  background: rgba(25, 83, 148, 0.5);
  box-shadow: rgba(25, 83, 148, 0.7) 0px 2px 4px;
  padding: 0;
}
.dropdown-menu li>a:focus,
.dropdown-menu li>a:hover{
  background: rgba(25, 83, 148, 0.8);
}
.nav {
  padding:30px 60px 30px 0px;
  transition: all 0.5s;
}
.nav.small {
  padding:0px 60px 0px 0px;
}
ul.games {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.games h3 {
  color:#FFF;
  background-color:#666;
  text-align:center;
  padding:5px 0px;
  margin:0;
}

ul.games li {
  float:left;
  width:240px;
  background:#ccc;
  margin-right:30px;
}

ul.games li a img {
  margin:0px auto;
  display:block;
}

ul.games li a {
  padding:10px;
}

ul.nav > li {
  float: left;
  padding:10px 10px;
}

ul.nav,
ul.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav ul {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 0px;
  margin-left: -10px;
  margin-top:10px;
}

ul.nav li:hover > ul{
  display: block;
}


ul.nav > li:hover {
  background: rgba(0, 0, 0, 0.6);
}

ul.nav ul li {
  padding:15px 15px;
  line-height:30px;
  height: 30px;
}

ul.nav a:hover {
  text-decoration: none;
}

ul.nav ul li:hover {
  background: rgba(165, 165, 165, 0.6);
}

ul.nav ul li img {
  margin-right:15px;
  width: 30px;
  height: 30px;
}
ul.nav ul li * {
  float: left;
}

/*On Our Radar*/
.onourradar {
  font-weight: bold;
}