$size: 180px;
$sizePercent: 100px;
$sizeFont: 2.6em;
$koef: 0.7;
$sub: 1.5;
.progress-pie-chart {
    width: $size*$koef/$sub;
    height: $size*$koef/$sub;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    //transition: all .5s ease-out;
}
.progress-pie-chart.timer-half {
    //background-color: #0114a9;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size*$koef/($sub*2)});
    top: calc(50% - #{$size*$koef/($sub*2)});
    width: $size*$koef/$sub;
    height: $size*$koef/$sub;
    clip: rect(0, $size*$koef/$sub, $size*$koef/$sub, $size*$koef/($sub*2));
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size*$koef/($sub*2)});
    top: calc(50% - #{$size*$koef/($sub*2)});
    width: $size*$koef/$sub ;
    height: $size*$koef/$sub ;
    //clip: rect(0, $size*$koef/($sub*2), $size*$koef/2, 0);
    clip: rect(0, $size*$koef/($sub*2), $size*$koef/$sub, 0);
    background: #2d70b4;
}
li.timer-half {
    border: 4px solid #2d70b4;
}
.timer-half .ppc-progress {
    clip: rect(0, $size*$koef/($sub*2), $size*$koef/$sub, 0);
}
.timer-half .ppc-progress .ppc-progress-fill {
    clip: rect(0, $size*$koef/$sub, $size*$koef/$sub, $size*$koef/($sub*2));
    background: #E5E5E5;
}

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$sizePercent*$koef/($sub*2)});
    top: calc(50% - #{$sizePercent*$koef/($sub*2)});
    width: $sizePercent*$koef/$sub;
    height: $sizePercent*$koef/$sub;
    background: #fff;
    text-align: center;
    display: table;
}
.ppc-percents span {
    display: block;
    font-size: $sizeFont*$koef/$sub;
    font-weight: bold;
    color: #81CE97;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}
/*
.progress-pie-chart {
    //margin: $size*$koef auto 0;
}
.progress-pie-chart {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    transition: all .5s ease-out; }

.progress-pie-chart.timer-half {
    background-color: #81CE97; }

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    clip: rect(0, 100px, 100px, 50px); }

.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    clip: rect(0, 50px, 100px, 0);
    background: #81CE97; }

.timer-half .ppc-progress {
    clip: rect(0, 50px, 100px, 0); }

.timer-half .ppc-progress .ppc-progress-fill {
    clip: rect(0, 100px, 100px, 50px);
    background: #E5E5E5; }

.ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 43.47826px);
    top: calc(50% - 43.47826px);
    width: 86.95652px;
    height: 86.95652px;
    background: #fff;
    text-align: center;
    display: table; }

.ppc-percents span {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    color: #81CE97; }

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle; }
*/
.progress-pie-chart {
    margin-left: 1px;
    margin-top: 7px;
    font-size: 23px;
}
