.users-stats {
  .dataTables_wrapper {
    margin: 30px auto;
  }
  .dataTables_length {

  }
  .dataTables_filter {

  }
  .dataTables_empty {
    color: white;
    font-size: 18px;
  }

  .statistics-table {

    @media (max-width: 930px) {
      tr > *:nth-child(3) {
        display: none;
      }
    }
    @media (max-width: 640px) {
      tr > *:nth-child(4) {
        display: none;
      }
    }
  }

}