.progress-bar {
  width: 50%;
  height: 40px;
  margin: 60px auto;
  background-color: grey;
  .progress-title,
  .progress-text {
    margin: 0;
    font-size: 1em;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
  }
  .progress-title {
    position: absolute;
    margin-top: -40px;
    width: 50%;
  }
  .progress-text {
    position: relative;
    margin-top: -40px;
  }
  .progress-line {
    background: darkgray;
    height: 40px;
    width: 0;
  }
}