@import '_config.scss';
$colors: (
        dot--1:    #2aabd2,
        highlight: rgba(white, .6),
        shadow:    rgba(black, .4)
);
@mixin dot {
  position: relative;
  //top: 0; right: 0; bottom: 0; left: 0;
  //margin: auto;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}
@keyframes colorchange-TrueAnswer
{
  0%   {color: white;}
  50%   {color: #49ff5b;}
  100%   {color: #71ff00;}
}

@-webkit-keyframes colorchange-TrueAnswer /* Safari and Chrome - necessary duplicate */
{
  0%   {color: white;}
  50%   {color: #49ff5b;}
  100%   {color: #71ff00;}
}
@keyframes colorchange-FalseAnswer
{
  0%   {color: white;}
  50%   {color: #ff5f64;}
  100%   {color: #ff0d1c;}
}

@-webkit-keyframes colorchange-FalseAnswer /* Safari and Chrome - necessary duplicate */
{
  0%   {color: white;}
  50%   {color: #ff5f64;}
  100%   {color: #ff0d1c;}
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  color: rgb(245, 241, 249);
  padding: 0;
  margin : 0;
  background: #070b40;
  //background-image:  url(../img/wwtbam-bg2.jpg);
  //background-repeat: no-repeat;
  //background-size: 1700px 2100px;
}
header {
  display: none;
}
.games-container {
  display: grid;
  position: relative;
  grid-template-rows: 70px 265px 50px 180px;
  grid-template-columns: 65% 35%;
}
.item {
  //display: flex;
  justify-content: center;
  //border: 5px solid black;
  list-style: none;
}
.item h3 {
  vertical-align: middle;
}
.timer {
  position: relative;
  bottom: 18px;
  left: -1.8rem;
  grid-area: 1 / 1 / 2 / 2;
  border: 4px solid #FFFFFF;
}
.half {
  border: 4px solid #2d70b4;
}
// logo inside
.logo {
  //display: none;
  width: 85px;
  height: 85px;
  //background: linear-gradient(-45deg, #000 10%, #425ca9 90%);
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 7px;
  left: -5px;
  right: 0;
  bottom: 7px;
  //border: 4px solid #c9def3;
  text-shadow: 5px 5px 0 #000;
  .elipse {
    width: 8px;
    height: 62px;
    position: absolute;
    border: 2px solid #9db7d2;
    border-radius: 50% 100%;
    z-index: 5;
    left: 38px;
    top: 10px;
  }
  @for $i from 1 through 9 {
    .elipse#{$i} {
      transform: rotate(($i * 20)+deg);
    }
  }
  .inner-circle {
    width: 70px;
    height: 70px;
    position: absolute;
    background: #001621;
    border: 2.5px solid #86a0c0;
    border-radius: 50%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}
.questions {
  width: 870px;
  position: relative;
  right: 45px;
  grid-area: 2 / 1 / 3 / 2;
}
.sidebar {
  display: grid;
  grid-template-rows: 10% 10% 75%;
  grid-gap: 5px;
  position: relative;
  bottom: 20px;
  left: 24px;
  float: right;
  z-index: 10;
  width: 410px;
  height: 615px;
  align-self: flex-start;
  grid-area: 1 / 2 / 5 / 3;
  background-color: #0E1124;
  border-left: 5px groove #2aabd2;
  ul.sound-on, ul.sound-off {
    margin-top: -20px;
    margin-bottom: 0px;
  }
  img.speaker-on {
    position: relative;
    left: 162px;
    bottom: 566px;
    height: 25px;
    width: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  img.speaker-off {
    display: none;
    position: relative;
    left: 162px;
    bottom: 566px;
    height: 25px;
    width: 25px;
    &:hover {
      cursor: pointer;
    }
  }
  .bank {
    grid-row: 1 / 2;
    position: relative;
    top: 0px;
    right: 10px;
    color: gold;
    h1 {
      position: relative;
      bottom: 27px;
      color: white;
    }
  }
  .info {
    grid-row: 2;
    position: relative;
    top: 10px;
    right: 50px;
    background-color: #15183c;
    box-shadow: rgba(255, 255, 255, 0.6) 0 0 2px 2px, #2aabd2 0 0 12px 0;
    border: 1px groove #2aabd2;
    border-radius: 100%;
    width: 10px;
    height: 40px;
    &:hover {
      cursor: help;
      box-shadow: rgba(255,255,255,0.6) 0 0 2px 2px, #f4f030 0 0 12px 0;
      border: 1px groove #f4f347;
    }
    a {
      font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      position: relative;
      right: 23px;
      top: 5px;
      text-decoration: none;
      &:hover {
        background: none;
      }
    }
  }
  .ladder {
    display: grid;
    border-radius: 5px;
    border: 2px solid #aeaeb3;
    background-color: #15183c;
    padding: 10px 0 0;
    position: relative;
    bottom: 15px;
    li {
      /*.dot {
        grid-area: 1 / 1 / 1 / 2;
        @include dot;
        background-color: #2aabd2;
        box-shadow:
                map-get($colors, highlight) 0 0 2px 2px,
                map-get($colors, dot--1) 0 0 12px 0;
      }*/
      width: 250px;
      padding: 0;
      box-sizing: border-box;
      display: table;
      height: 20px;
      &:before,
      &:after {
        content: " ";
        display: table-cell;
        width: 23px;
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
      }
      &:before {
        background: {
          image: url('../img/question-left.png');
          size: 25px 20px;
        }
      }
      &:after {
        background: {
          image: url("../img/question-right.png");
          size: 23px 20px;
        }
      }
      h4 {
        font-size: 16px;
        text-align: center;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        box-sizing: border-box;
        background: {
          image: url(../img/question-middle.gif);
          size: 1px 20px;
          repeat: repeat-x;
        }
      }
    }
    li.selected {
      background-color: yellow;
    }
  }
}
.jokers {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-column-gap: 16px;
  position: relative;
  top: 0px;
  color: white;
  grid-area: 3 / 1 / 4 / 2;
  .item {
    grid-row: 2;
    position: relative;
    top: 0px;
    right: 0px;
    background-color: #15183c;
    box-shadow: rgba(255, 255, 255, 0.6) 0 0 2px 2px, #2aabd2 0 0 12px 0;
    border: 1px groove #2aabd2;
    border-radius: 100%;
    width: 10px;
    height: 40px;
    &:hover {
        cursor: pointer;
        box-shadow: rgba(255,255,255,0.6) 0 0 2px 2px, #f4f030 0 0 12px 0;
        border: 1px groove #f4f347;
    }
  }
  .more-time {
    grid-column: 1;
    transition: all 0.2s;
    background : {
      image : url("../img/more-time.png");
      size: 40px 36px;
      repeat: no-repeat;
    }
    span {
      font-size: 12px;
      font-family: sans-serif;
      position: relative;
      right: 31px;
      bottom: 5px;
    }
  }
  .fifty-fifty {
    grid-column: 2;
    span {
      font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      font-size: 12px;
      position: relative;
      right: 35px;
      bottom: -3px;
    }
  }
  .cut {
    background : {
      image : url("../img/cut.png");
      size: 33px 30px;
      repeat: no-repeat;
      position: 40% 50%;
    }
    grid-column: 3;
    span {
      font-size: 11px;
      font-family: sans-serif;
      position: relative;
      right: 27px;
      bottom: -3px;
    }
  }
}
.jokers ul.disabled {
  pointer-events:none; //This makes it not clickable
  opacity:0.6;         //This grays it out to look disabled
}
.jokers ul.used {
  pointer-events:none; //This makes it not clickable
  opacity:0.6;
}
.msg.questions {
  position: relative;
  top:3px;
  height: 205px;
  color: white;
  grid-area: 4 / 1 / 4 / 2;
  .question {
    font-size: 20px;
    height: 85px;
    width: 100%;
    &:before,
    &:after {
      height: 125px;
      width: 125px/85*90;
      margin: 0;
    }
    &:before {
      background: {
        size: auto 125px;
      }
    }
    &:after {
      right: -40px;
      background: {
        size: auto 125px;
      }
    }
    span {
      padding: 10px 0;
      background: {
        size: 100px 125px;
      }
    }
  }
}
.time-over,
.wrong-answer,
.you-win,
.new-game-btn {
  /*z-index: 3;
  display: block;
  position: relative;
  top: 280px;
  right: 200px;
  width: 370px;
  height: 130px;
  margin: -65px 445px;
  padding-top: 40px;
  padding-left: 10px;
  text-align: center;
  border-style: groove;
  border-color: black;
  border-radius: 10px;
  background-size: 10px;
  background: #2f3f6c;
  font-size: 30px;
  -vendor-animation-duration: 0.5s;
  //-vendor-animation-delay: 2s;
  //-vendor-animation-iteration-count: infinite;
   &:hover {
     background: #2f3f6c;
   }*/
  }
div.end-game-msg {
  z-index: 3;
  display: block;
  position: relative;
  top: 280px;
  right: 200px;
  width: 370px;
  height: 130px;
  margin: -65px 445px;
  padding-top: 40px;
  padding-left: 10px;
  text-align: center;
  border-style: groove;
  border-color: black;
  border-radius: 10px;
  background-size: 10px;
  background: #2f3f6c;
  font-size: 30px;
  -vendor-animation-duration: 0.5s;
  //-vendor-animation-delay: 2s;
  //-vendor-animation-iteration-count: infinite;
  &:hover {
    background: #2f3f6c;
  }
  a {
    &:hover {
      background: none;
      text-decoration: underline;
    }
  }
}
.help-info {
  z-index: 3;
  display: block;
  padding:5px;
  position: relative;
  top: 285px;
  /* bottom: -246px; */
  right: 200px;
  width: 370px;
  height: 330px;
  margin: -165px 445px;
  /* padding-top: 40px; */
  /* padding-left: 10px; */
  text-align: center;
  border-style: dashed;
  background-size: 10px;
  background: #2f3f6c;
  font-size: 17px;
  -vendor-animation-duration: 0.5s;
  //-vendor-animation-delay: 2s;
  //-vendor-animation-iteration-count: infinite;

  &:hover {
    background: #2f3f6c;
  }
  h3 {
    margin-top: 10px;
    font-style: italic;
    font-weight: 100;
    font-size: 25px;
  }
  a {

    &:hover {
      cursor: pointer;
      background: none;
      text-decoration: underline;
    }
  }
}
.help-info-copy {
  z-index: -3;
  display: block;
  padding:5px;
  position: relative;
  top: 285px;
  right: 200px;
  width: 370px;
  height: 330px;
  margin: -165px 445px;
  background-size: 10px;
  background: none;
}
/*@media screen and (min-width: 600px ) {
.column-left {
  margin-right: 200px;
}
.column-right {
  top: 0;
  right: 0;
  width: 200px;
}
}
@media screen and (min-width: 800px ) {
.questions {
  margin-right: 300px;
}
.sidebar {
  top: 0;
  right: 0;
  width: 300px;
}
}
@media screen and (min-width: 1200px ) {

}
*/

/*questions*/
.questions  {
overflow: hidden;
//-webkit-touch-callout: none; /* iOS Safari */
//-webkit-user-select: none; /* Chrome/Safari/Opera */
//-khtml-user-select: none; /* Konqueror */
///-moz-user-select: none; /* Firefox */
//-ms-user-select: none; /* Internet Explorer/Edge */
//user-select: none; /* Non-prefixed version, currently
  //      not supported by any browser */
&.checked {
    input[type="radio"]:checked + label {
      animation: colorchange-FalseAnswer 3s;
      color: #ff0d1c;
    }
    input[type="radio"].true-answer + label{
      font-weight: bold;
      animation: colorchange-TrueAnswer 3s;
      color: #71ff00;
    }
  }
  form {
    position: relative;
    bottom: 20px;
    label {
      &.disabled {
        pointer-events:none; //This makes it not clickable
        opacity:0.6;         //This grays it out to look disabled
      }
      float: left;
      width: 50%;
      text-align: center;
      padding:0;
      margin-bottom: 13px;
      box-sizing: border-box;
      display:table;
      height:50px;
      clear:none;
      cursor:pointer;
      font-size:16px;
      &:before,
      &:after {
        content:" ";
        display:table-cell;
        width: 53px;
        height: 100%;
        margin: 0;
        background-repeat:no-repeat;
      }
      &:before {
        background: {
          image: url("../img/question-left.png");
          size: 53px 50px;
        }
      }
      &:after {
        background: {
          image: url("../img/question-right.png");
          size: 53px 50px;
        }
      }
      span {
        display: table-cell;
        vertical-align: middle;
        padding: 6px 0;
        box-sizing: border-box;
        background: {
          image: url("../img/question-middle.gif");
          size: 1px 50px;
          repeat: repeat-x;

        }
        &.disabled {
          pointer-events:none; //This makes it not clickable
          //opacity:0.6;         //This grays it out to look disabled
        }
      }
    }
    input[type="radio"]:checked + label {
      font-weight: bold;
    }
    input[type="radio"] {
      display: none;
    }
  }
  .send {
    text-align: center;
  }
  .send button {
    margin: auto;
  }
}
.question {
  font-size: 20px;
  height: 85px;
  width: 100%;
  display: table;
  box-sizing: border-box;
  position: relative;
  bottom: 20px;
  &:before,
  &:after {
    content: " ";
    display: table-cell;
    height: 125px;
    width: 125px/85*90;
    background-repeat: no-repeat;
    margin: 0;
  }
  &:before {
    background: {
      image: url(../img/question-left.png);
      size: auto 125px;
    }
  }
  &:after {
    right: -40px;
    background: {
      image: url(../img/question-right.png);
      size: auto 125px;
    }
  }
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    background: {
      image: url(../img/question-middle.gif);
      repeat: repeat-x;
      size: 100px 125px;
    }
  }
}
.question-backrground {
  height:100%;
  margin:0;
  content:" ";
  display:table-cell;
}

.clear:after {  /* Imaginary class name */
  content: "";
  clear: both;
  display: block;
}

.newGame {
}
.moreTime {
  display: inline-block;
}
.fifty-fifty {
  display: inline-block;
}
.call {
  display: inline-block;
}